<div class="wrapper" style="width: 100vw;
                           text-align: center;
                           margin-top: 50px;">
  <% if user_signed_in? %>
    <h1>Invoices for <%= current_user.email %></h1>

    <div class="buttons">
      <%= link_to "Create New", new_invoice_path %>
    </div>
    <div class="table">

      <table class="wp-table">
        <tr>
          <th>Created At</th>
          <th>Company</th>
          <th>Number</th>
          <th>Price</th>
          <th>Card/Cash</th>
        <tr>

        <% @invoices.each do |invoice| %>
        </tr>
          <td><%= invoice.created_at %></td>
          <td><%= invoice.company_name%></td>
          <td><%= invoice.invoice_number %></td>
          <td><%=  invoice.price  %></td>
          <td><%= invoice.paid_with %></td>
          <%# <td><%= link_to 'Delete', invoices_path(@invoice) , data: { turbo_metho: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger text-white', style: 'margin: 1px;' %>
        </tr>
        <% end %>
        <tfoot>
          <tr>
            <strong><td colspan="2">You have <%= @invoices.length %> invoices</td></strong>
            <% sum = 0.00 %>
            <% @invoices.each do |invoice| %>
              <% sum += invoice.price.to_f %>
            <% end %>
            <td>£<%= sum %></td>
          </tr>
        </tfoot>
      </table> <%# end of table div %>
    </div>
  <% else %>
    <%= link_to "Please Sign in", user_session_path %>
  <% end %>
</div>
