<div class="wrapper" style="width: 100vw;
                           text-align: center;
                           margin-top: 50px;">
  <% if user_signed_in? %>
    <h1>Invoices for <%= current_user.email %></h1>

    <div class="buttons">
      <%= link_to "Create New", new_invoice_path,  class: 'btn btn-primary text-white' %>
      <%= link_to "See All Invoices", invoices_path, class: 'btn btn-success text-white' %>
    </div>

    <div class="filters">
        <form action = "/invoices" class="forms">
      Time: <select aria-labelledby="refine-sortlabel" name="sort" data-q="srp-sort">
          <option value="current">Current Week</option>
          <option value="last_week">Last Week</option>
          <option value="current_month">Current Month</option>
          <option value="last_month">Last Month</option>
          <option value="newest">Newest</option>
          <option value="oldest">Oldest to Newest</option>
        </select>
        <input type="submit" value="Submit" id="submit">
        </form>



        <form action = "/invoices" class="forms">
        Companies:  <select aria-labelledby="refine-sortlabel" name="q" data-q="srp-sort">
          <option value="Amber">Amber Bakery</option>
          <option value="RoExport">RoExport</option>
          <option value="Monolith">Monolith</option>
          <option value="Lithuanian_Beer">Lithuanian Beer</option>
          <option value="Asorti_Foods">Asorti Foods</option>
          <option value="Marion">Marion</option>
          <option value="Cake_World">Cake World</option>
          <option value="Cypro">Cypro Foods</option>
          <option value="Imperial">Imperial</option>
          <option value="Sitella">Sitella Fruits</option>
          <option value="Ambassador">Ambassador Bakery</option>
          <option value="Dancle">Dancle Romanian</option>
          <option value="Noble">Noble Wine</option>
          <option value="Baltic">Baltic Foods</option>
          <option value="Ulan">Ulan</option>
          <option value="Lackamnn">Lackmann</option>
          <option value="Leon">Leon</option>
          <option value="Bills">Bills</option>
          <option value="Holland">Holland Bazar</option>
          <option value="Tahtakale">Tahtakale</option>
          <option value="Rambynas">Rambynas</option>
          <option value="Salary">Salary</option>
          <option value="Import">Import</option>
          <option value="Other">Other</option>
        </select>
        <input type="submit" value="Submit" id="submit">
        </form>
    </div>
    <div class="table">
      <table class="wp-table">
        <tr>
          <th>Created At</th>
          <th>Company</th>
          <th>Number</th>
          <th>Price</th>
          <th>Card/Cash</th>
        <tr>

        <% @invoices.each do |invoice| %>
        </tr>
          <td><%= invoice.created_at.to_date %></td>
          <td class="company_name"><%= invoice.company_name%></td>
          <td><%= invoice.invoice_number %></td>
          <td><%=  invoice.price  %></td>
          <td><%= invoice.paid_with %></td>
          <%# <td><%= link_to 'Delete', invoices_path(@invoice) , data: { turbo_metho: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger text-white', style: 'margin: 1px;' %>
        </tr>
        <% end %>
        <tfoot>
          <tr>
            <strong><td class="sum" colspan="2">You have <%= @invoices.length %> invoices</td></strong>
              <% sumcard = 0 %>
              <% @invoices.each do |invoice| %>
              <% if invoice.paid_with === 'card' || invoice.paid_with === 'Card' %>
              <% sumcard += invoice.price.to_f %>
              <% end %>
            <% end %>
            <td class="sum">£<%= sumcard.round(2) %> total card</td>

              <% sumcash = 0 %>
              <% @invoices.each do |invoice| %>
                <% if invoice.paid_with === 'cash' || invoice.paid_with === 'Cash' %>
                 <% sumcash += invoice.price.to_f %>
                <% end %>
              <% end %>
            <td class="sum">£<%= sumcash.round(2) %> total cash</td>

             <% sum = 0 %>
              <% @invoices.each do |invoice| %>
                <% sum += invoice.price.to_f %>
              <% end %>
            <td class="sum">£<%= sum.round(2) %> total</td>
            </tr>
        </tfoot>
      </table> <%# end of table div %>
    </div>
  <% else %>
    <h1>Invoicing System</h1>
    <h3>Invoicing System Require LogIn To start Invoicing</h3>
    <%= link_to "Please Sign in", user_session_path, class: 'btn btn-lg btn-primary text-white' %>

  <% end %>
</div>
